---
Language: Cpp
BasedOnStyle: LLVM

UseTab: Never
IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 80

BreakBeforeBraces: Attach
IndentCaseLabels: false
PointerAlignment: Right
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: OnlyFirstIf

SortIncludes: Never
IncludeBlocks: Preserve
